.navCastAndReviews {
  display: flex;
  flex-direction: column;
  color: black;
}
.link {
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 500;
}
.active {
  composes: link;
  color: orangered;
}
.back {
  margin: 10px;
}
.back:hover,
.back:focus {
  color: orangered;
}
